
$our-blue: #0064b7;




.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


.small {
	width: 250px;
	height: 250px;
}

.bluesticker {
	background-image: url("../img/blueSticker.png");
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	color: white;
	font-size: large;
	margin:auto;
	display: block;
	transform: translate(80px, -50%);
}

.default-pic {
	background-image: url("../img/cheetah.jpg");
	background-repeat: no-repeat;
}


.center {
	margin: auto;
	display: block;
}

.side-by-side {
	div {
		display: inline-block;
	}
}

.inline {
	display: inline-block;
}

.blue {
	background-color: blue;
}

.white {
	background-color: white;
}


#new-item-box {
	max-width: 800px;
	padding: 5px;
}


.newPicButton {
	float:right;
}

.newPic {
	width: 250px;
	height: 250px;
}


.newItem {
	margin: 10px;
	padding: 10px;
}

.feed-item {
	margin: 30px;
	padding: 10px;
}

.red {
	background-color: red;
}

.small-width {
	width: 250px;
}

.margin-5 {
	margin: 5px;
}

.margin-10 {
	margin: 10px;
}

.half-width {
	max-width: 50%;
}

.closeup-table-row td {
	padding: 5px 10px;
}

.flat-button {
	background-color: white;
	border-radius: 50%;
	border: none;
	box-shadow: none;
}

.block {
	display: block;
}

.purple {
	background-color: purple;
}

.green {
	background-color: green;
}

.ten-padding {
	padding: 10px;
}

.five-padding {
	padding: 5px;
}

.curve-corner {
	border-radius: 25px;
}

.flex-parent {
	display: flex;
}

.flex {
	flex: 1;
}

.our-blue {
	background-color: #0064b7;
}

.vertical-only {
	resize: vertical;
}

.album-name {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

.create-button {
	max-width: 800px;
	margin: auto;
	margin-bottom: 50px;
}

.add-button {
	background-color: $our-blue;
	border-radius: 50%;
	border: none;
	box-shadow: none;
	color: white;
}

.body-width {
	max-width: 800px;
	margin: auto;
	margin-bottom: 50px;
}

.img-circle {
	border-radius: 50%;
	border: 5px solid $our-blue;
}

.login-text {
	max-width: 400px;
	margin: auto;
	margin-bottom: 50px;
	input {
		text-align: center;
	}
}


.whatever {
	background-color: purple;
	//height: 140px;
	overflow: auto;
	padding: 0px;
}

.item-price {
	color: white;
	background-color: rgba(50, 50, 50, 0.5);
	text-align: right;
	margin: 5px 5px;
	padding: 5px 5px;
	position: absolute;
}

// .item-item-price {
// 	color: white;
// 	background-color: rgba(50, 50, 50, 0.5);
// 	text-align: right;
// 	margin: 5px 5px;
// 	padding: 5px 5px;
// 	position: absolute;
// }

.chat-sidebar {
	width: 33%;
	background-color: red;
}

.current-chat {
	width: 67%;
	background-color: purple;
}
